# SPDX-FileCopyrightText: 2022 Claudio Cambra <claudio.cambra@gmail.com>
# SPDX-License-Identifier: CC0-1.0

build*/
*.kate-swp
*.kdev4
CMakeLists.txt.user
.clang-format
CMakeCache.txt
CMakeFiles
.apc/
.settings/
solution1/
.cproject
.project
.vitis*
vitis_hls.log

